@charset "UTF-8";

body {
	background-image: url("./christmas-seamless-pattern-of-icons_1085-1117.jpg");
	background-repeat:repeat; 
}

img#mainimg {
    animation-name: scale;
    animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
 
@keyframes scale {
    from {
		transform: scale(1.0, 1.0);
	}
	50% {
		transform: scale(0.5, 0.5);
	}
    to { 
		transform: scale(1.0, 1.0); 
	}
}


canvas#gameCanvas {
	background-color: #000;
	margin-left: auto;
}